[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/dotfiles.git/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/dev/"]
    path = ~/dev/.gitconfig
[core]
        editor = nvim
[sequence]
        editor = nvim
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        grep = auto
        ui = auto

[alias]
    wt-clone="!sh {{ script_dest_dir }}/git_clone_for_worktrees.sh"
    repair-bare="!sh {{ script_dest_dir }}/repair_worktree.sh"
    wt-branch="!sh {{ script_dest_dir }}/branch_with_remote_worktree.sh"
