[user]
        name = agriffit
        email = aidan.griffiths@bom.gov.au
[core]
        editor = nvim
[sequence]
        editor = nvim
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        grep = auto
	ui = auto
