[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/dotfiles.git/"]
    path = ~/github/.gitconfig
[includeIf "gitdir:~/dev/"]
    path = ~/dev/.gitconfig
[core]
        editor = nvim
[sequence]
        editor = nvim
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        grep = auto
        ui = auto

[alias]
    wt-clone="!sh ~/bin/.local/scripts/git_clone_for_worktrees.sh"
    repair-bare="!sh ~/bin/.local/scripts/repair_worktree.sh"
    wt-pull="!sh ~/bin/.local/scripts/branch_with_remote_worktree.sh"
